#main-screen {
	background: white;

	&.show {
		position: static;
		visibility: visible;
		height: auto;
		overflow: auto;
	}

	&.hide {
		position: absolute;
		left: -300%;
		visibility: hidden;
		height: 1px;
		overflow: hidden;
	}

	.header {
		.mixin-header;
		font-size: 10px;
		margin-bottom: 20px;
		text-align: center;

		&-logo {
			margin-top: 2px;
		}
	}

	.content {
		padding: 0px 20px;
	}

	@keyframes shake {
		0%, 100% {transform: translateX(0);}
		10%, 30%, 50%, 70%, 90% {transform: translateX(-4px);}
		20%, 40%, 60%, 80% {transform: translateX(4px);}
	}

	.emergency-btn {
		color: @primary-dark;
		background-color: transparent;
		border: 1px solid #a1c3d9;
		margin-top: 24px;
		transition: all 0.2s ease;
		height: 44px;
		line-height: 43px;
		position: relative;

		&.highlighted {
			border-color: @primary-dark;
			background-color: @primary-dark;
			color: white;
			box-shadow: 0 0 10px @primary-dark;
			animation: shake 1s ease;
			animation-fill-mode: both;
			animation-delay: 0.4s;
		}
	}

	.sign-in-block {
		background: #D8ECF7;
		padding-top: 36px;
		padding-bottom: 14px;

		.app-field { background: white; border-color: #B7D5E4; }
	}

	.sign-up-block {
		margin-bottom: 28px;
		.sign-up-header {
			.mixin-section-header;
			color: @secondary-dark;
			margin: 0;
			text-align: center;
		}

		.btn-subscript {
			margin-bottom: 8px;
			font-size: 11px;
			line-height: 12px;
			opacity: 0.5;
			padding-top: 4px;
			text-align: center;
		}
	}

	.separator {
		border-top: 1px solid #e2e2e2;
		padding-bottom: 36px;
		margin: 0 20px;
	}

	.get-app-block {
		// background: #E8E8E8;
		padding-top: 24px;

		.secondary-header {
			.mixin-section-header;
			text-align: center;
			margin: 0;
		}

		.store-link-wrapper {
			text-align: center;
			font-size: 0;
			margin-top: 16px;
			.store-link {
				background: black;
				width: 136px;
				height: 40px;
				margin-left: 8px;
				display: inline-block;
				border-radius: 8px;

				&:first-child { margin-left: 0; }
			}
		}

		.app-mockup {
			height: 172px;
			margin-top: 24px;      
			width: 180px;
			margin-left: auto;
			margin-right: auto;
			border-top-left-radius: 16px;
			border-top-right-radius: 16px;
			overflow: hidden;

			img {
				width: 100%;
			}
		}
	}

	.footer {
		background: #252525;
		// min-height: 280px;
		padding-bottom: 26px;
		border-top: 1px solid rgba(0,0,0,0.2);
		box-shadow: 0 -1px 3px 0px rgba(0,0,0,0.2);
		position: relative;
		z-index: 99;

		nav.footer-section {
			padding-top: 18px;

			
			a.footer-link {
				color: white;
				text-decoration: none;
				opacity: 0.5;
				cursor: pointer;
				display: inline-block;
				box-sizing: border-box;
				width: 49%;
				padding: 8px 0;
				font-size: 18px;

				&:hover {
					text-decoration: none;
					opacity: 0.8;
				}

				@media screen and (max-width:340px) {
					& {
						font-size: 16px;
					}
				}
			}
		}

		div.copyright {
			margin-top: 26px;
			border-top: 1px solid rgba(255,255,255,0.1);
			padding-top: 18px;
			font-size: 12px;
			line-height: 18px;
			color: rgba(255,255,255,0.4);
			position: relative;
			padding-left: 14px;
			// margin-bottom: 26px;

			&:before {
				content: '©';
				position: absolute;
				left: 0;
				top: 18px;
				line-height: 18px;
			}
		}
	}
}
